<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="CompanyManager.Properties.Settings.CompanyManagerDBConnectionString"
            connectionString="Data Source=DESKTOP-BQJ5871\COMPANYMANAGER;Initial Catalog=CompanyManagerDB;Persist Security Info=True;User ID=sa"
            providerName="System.Data.SqlClient" />
        <add name="CompanyManager.Properties.Settings.CompanyManagerDBConnectionString1"
            connectionString="Data Source=DESKTOP-BQJ5871\COMPANYMNGSQL;Initial Catalog=CompanyManagerDB;Persist Security Info=True;User ID=sa;Password=r0b3rt012@"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
</configuration>